export INFLUX_USER=$(gopass -o comm/influx-creds INFLUX_USER)
export INFLUX_PASS=$(gopass -o comm/influx-creds INFLUX_PASS)
export INFLUX_ORG=$(gopass -o comm/influx-creds INFLUX_ORG)
export INFLUX_BUCKET=$(gopass -o comm/influx-creds INFLUX_BUCKET)
export INFLUX_ADMIN_TOKEN=$(gopass -o comm/influx-creds INFLUX_ADMIN_TOKEN)
